<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.manager.dao.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.qf.manager.pojo.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="uname" property="uname" jdbcType="VARCHAR"/>
        <result column="upwd" property="upwd" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, uname, upwd, state, code,email
  </sql>

    <!--登录-->
    <select id="login" resultMap="BaseResultMap" parameterType="com.qf.manager.pojo.User">
        select
        <include refid="Base_Column_List"/>
        from user
        where uname = #{uname,jdbcType=VARCHAR}
        and upwd= #{upwd,jdbcType=VARCHAR}
        and state=#{state,jdbcType=INTEGER}
    </select>
    <!--邮箱验证-->
    <select id="getVerifyEmail" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user
        where email = #{email,jdbcType=VARCHAR}
    </select>
    <!--用户名验证-->
    <select id="getVerifyUName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user
        where uname = #{uname,jdbcType=VARCHAR}
    </select>
    <!--注册用户-->
    <insert id="registUser" parameterType="com.qf.manager.pojo.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uname != null">
                uname,
            </if>
            <if test="upwd != null">
                upwd,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="email != email">
                email,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="uname != null">
                #{uname,jdbcType=VARCHAR},
            </if>
            <if test="upwd != null">
                #{upwd,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="email != email">
                #{email,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.qf.manager.pojo.User">
        update user
        <set>
            <if test="uname != null">
                uname = #{uname,jdbcType=VARCHAR},
            </if>
            <if test="upwd != null">
                upwd = #{upwd,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="email != email">
                code = #{email,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <!--激活用户-->
    <update id="activeUser" parameterType="java.lang.String">
    update user
    set
      state = 1
    where code = #{code,jdbcType=VARCHAR}
  </update>
</mapper>